<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="jumbotron.css" rel="stylesheet">
    <script type="application/javascript">
        var app = angular.module("myApp", []);

        app.controller('FormSubmitController', function($scope, $http){
           $scope.submit = function(){
             var data = {
                'first_name': $scope.fName,
                'last_name': $scope.lName,
                'username' : $scope.uName,
                'password' : $scope.pass,
                'portfolioId' : $scope.pId
             };

             $http.post('/users', data).then(successCallback, errorCallback);
             function successCallback(){
                 console.log('POST Successful!');
             };
             function errorCallback(){
                 console.log('POST Unsuccessful!');
             };
           };
        });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TradeQ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <button type="submit" class="btn btn-success" onclick="window.open('/createUser', '_blank')">Create Account</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
<div class="container" ng-controller="FormSubmitController">
    <br>
    <div class="form-group">
        <label for="inputName3">First Name</label>
        <input class="form-control" type="text" id="inputName3" placeholder="Like Bob or Frank" ng-model="fName">
    </div>
    <div class="form-group">
        <label for="fn">Last Name</label>
        <input id="fn" name="fn" type="text" placeholder="Like Smith or Wang" class="form-control input-md" required="" ng-model="lName">
    </div>
    <div class="form-group">
        <label for="username1">Username</label>
        <input class="form-control" id="username1" placeholder="Like smartman" ng-model="uName">
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input class="form-control" id="password1" placeholder="That is up to you" ng-model="pass" type="password">
    </div>
    <div class="form-group">
        <button ng-click="submit()" type="submit" class="btn btn-success">Sign up</button>
    </div>
    <hr>
    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div>
</body>
</html>